.intro{
    //background-color: $themeDark;
    //height: 700px;
    //position: absolute;
    //left: 0;
    //top: 0;
    //width: 100%;

    &-svg{
        fill: $themeDark;
        stroke: $themeDark;
        background-color: $themeGray;
    }
}
