@import url(https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Kaushan+Script&family=Varela+Round&display=swap);.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.glide * {
  box-sizing: inherit;
}

.glide__track {
  overflow: hidden;
}

.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}

.glide__slides--dragging {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.glide__slide a {
  -webkit-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.glide__arrows {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.glide__bullets {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.glide--rtl {
  direction: rtl;
}

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1;
}

.glide__arrow:focus {
  outline: none;
}

.glide__arrow:hover {
  border-color: white;
}

.glide__arrow--left {
  left: 2em;
}

.glide__arrow--right {
  right: 2em;
}

.glide__arrow--disabled {
  opacity: 0.33;
}

.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%);
}

.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em;
}

.glide__bullet:focus {
  outline: none;
}

.glide__bullet:hover,
.glide__bullet:focus {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.5);
}

.glide__bullet--active {
  background-color: white;
}

.glide--swipeable {
  cursor: grab;
  cursor: -webkit-grab;
}

.glide--dragging {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

html {
  scroll-behavior: smooth;
}

.header,
.header_white {
  padding-top: 80px;
  text-align: center;
}

.header p,
.header_white p {
  font-size: 2rem;
  font-weight: bolder;
}

.header .u-line,
.header_white .u-line {
  background-color: white;
  width: 160px;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 80%;
}

.header_white p {
  color: #f5f5f5;
}

.header .u-line {
  background-color: black;
}

.space {
  height: 500px;
}

.uparrow {
  padding-top: 5px;
  display: none;
  color: white;
  text-align: center;
  position: fixed;
  background-color: #38c172;
  width: 40px;
  height: 40px;
  right: 20px;
  bottom: 20px;
}

.uparrow a {
  position: relative;
  padding: 7px;
  text-decoration: none;
  color: white;
}

.uparrow a:hover {
  text-decoration: none;
  color: white;
}

.intro {
  background-color: #191a1d;
  height: 800px;
}

.intro-svg {
  fill: #191a1d;
  stroke: #191a1d;
  background-color: #f5f5f5;
}

.intro-nav {
  position: relative;
  text-align: center;
  padding: 50px;
}

.intro-nav_logo {
  transform: translateY(-40%);
}

.intro-nav ul {
  display: inline-flex;
  margin: 0;
}

.intro-nav ul li {
  height: 80px;
  padding-top: 30px;
  list-style: none;
  text-decoration: none;
}

.intro-nav_left-but {
  font-size: 3rem;
}

.intro-nav_left-but a {
  text-decoration: none;
  color: white;
  font-family: "Kaushan Script", cursive;
}

.intro-nav_left-but a:hover {
  color: #ba8fff;
  text-decoration: none;
}

.intro-nav_right ul li {
  width: 8rem;
}

.intro-nav_right-but a {
  text-decoration: none;
  color: lightgrey;
  font-size: larger;
}

.intro-nav_right-but a:hover {
  background-color: black;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
  color: lightgrey;
  text-decoration: none;
}

.intro-text {
  text-align: center;
  transform: translateY(70%);
  font-family: "Varela Round", sans-serif;
  color: lightgrey;
  font-size: 2rem;
}

.intro-text p {
  margin: 0;
}

.intro-text span {
  font-family: "Caveat", cursive;
  font-size: 2.5rem;
  color: #ba8fff;
}

.intro-text button {
  background-color: #6859a8;
  color: white;
  font-size: 1rem;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
}

.service {
  padding-top: 120px;
  text-align: center;
  font-family: "open sans", sans-serif;
  background-color: #f5f5f5;
}

.service-item {
  padding: 80px 20px 80px 20px;
  margin-left: auto;
  margin-right: auto;
}

.service-item img {
  width: 50px;
  height: 52px;
}

.service-item h5 {
  padding: 30px 0 10px 0;
  font-weight: bolder;
  color: #6859a8;
}

.service svg {
  margin-top: 50px;
  fill: white;
  stroke: white;
}

.skill_parameter-body {
  height: 10px;
  background-color: #c8c8c8;
  border-radius: 10px;
}

.skill_parameter-fill {
  height: 10px;
  background-color: #6859a8;
  border-radius: 10px;
}

.skill_parameter h4 {
  padding: 50px 0 30px 0;
}

.skill_parameter .nok {
  width: 60%;
}

.skill_parameter .htc {
  width: 30%;
}

.skill_parameter .sam {
  width: 80%;
}

.skill_parameter .iph {
  width: 70%;
}

.skill_parameter .lgp {
  width: 10%;
}

.skill_parameter p {
  margin: 0;
  padding: 20px 0 10px 0;
}

.skill_tag h4 {
  padding: 50px 0 30px 0;
}

.skill_tag h4,
.skill_tag input,
.skill_tag .skill_tag-list {
  margin-left: 80px;
}

.skill_tag input {
  width: 280px;
  margin-left: 180px;
  margin-bottom: 40px;
  border-style: none;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 15px 10px 10px 10px;
}

.skill_tag input[type=text]:focus {
  border-radius: 0;
  outline: none;
  background-color: white;
  border-style: none none solid none;
}

.skill_tag-list i {
  padding: 10px;
  font-size: 18px;
}

.skill svg {
  margin-top: 180px;
  fill: #54606c;
  stroke: #54606c;
}

.portfolio {
  padding-top: 80px;
  background-color: #54606c;
}

.portfolio_body {
  padding: 80px 0 180px 0;
}

.portfolio_img {
  height: 15rem;
}

.portfolio_img div {
  color: white;
  text-align: center;
  padding: 20px;
  background-color: #4B5763;
}

.portfolio_img div h6 {
  color: #ba8fff;
}

.portfolio_img div button {
  color: white;
  margin-top: 60px;
  border: none;
  background-color: #ba8fff;
  border-radius: 5px;
  padding: 8px;
}

.portfolio svg {
  fill: #54606c;
  background-color: #f5f5f5;
  stroke: #f5f5f5;
}

.contact {
  background-color: #f5f5f5;
  padding-bottom: 80px;
}

.contact_form-body {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.contact_form-body div {
  padding-bottom: 5px;
}

.contact_form-body h6 {
  color: #6859a8;
}

.contact input[type=text],
.contact textarea {
  background-color: lightgrey;
  color: black;
  width: 400px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 15px;
}

.contact input[type=text] {
  height: 35px;
}

.contact input[type=submit] {
  width: 120px;
  color: white;
  background-color: #6859a8;
  border: none;
  border-radius: 5px;
}

.contact_button {
  padding-top: 30px;
  background-color: #54606c;
  height: 80px;
  color: white;
  text-align: center;
}

.contact_button a {
  color: white;
  text-decoration: none;
}

.contact_button a:hover {
  color: white;
}

.msg_list h3 {
  text-align: center;
}

.msg_header {
  margin-top: 50px;
  margin-bottom: 30px;
}

.msg_home a {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #54606c;
  border-radius: 5px;
}

.msg_home a:hover {
  color: white;
  background-color: green;
}

.msg-content {
  transform: translateX(-10%);
}

